name: Build and Push Called Workflow

on:
  workflow_call:
    inputs:
      build_args:
        required: false
        type: string
      cache_from:
        required: true
        type: string
      cache_to:
        required: false
        type: string
        default: "type=inline"
      context:
        required: false
        type: string
        default: "."
      file:
        required: false
        type: string
        default: ""
      push:
        required: false
        type: boolean
        default: true
      registry:
        required: true
        type: string
      service_account:
        required: true
        type: string
      tags:
        required: true
        type: string
      workload_identity_provider:
        required: true
        type: string

jobs:
  build-and-push:
    name: Build and push
    runs-on: ubuntu-latest

    steps:
      # Checkout
      # https://github.com/marketplace/actions/checkout

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd

      # Google Cloud Platform - Create Credentials
      # https://github.com/marketplace/actions/authenticate-to-google-cloud

      - name: Create credentials
        id: create_credentials
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093
        with:
          token_format: access_token
          service_account: ${{ inputs.service_account }}
          workload_identity_provider: ${{ inputs.workload_identity_provider }}
          access_token_lifetime: 300s

      # Docker Buildx
      # https://github.com/marketplace/actions/docker-setup-buildx

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

      # Docker Login
      # https://github.com/marketplace/actions/docker-login

      - name: Login to Google Artifact Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ${{ inputs.registry }}
          username: oauth2accesstoken
          password: ${{ steps.create_credentials.outputs.access_token }}


      # Build and Push Docker to Google Artifact Registry
      # https://github.com/marketplace/actions/build-and-push-docker-images

      - name: Build and push to Google Artifact Registry
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          tags: ${{ inputs.tags }}
          cache-from: ${{ inputs.cache_from }}
          cache-to: ${{ inputs.cache_to }}
          context: ${{ inputs.context }}
          file: ${{ inputs.file}}
          build-args: ${{ inputs.build_args }}
          push: ${{ inputs.push }}
