name: Nuclei Vulnerability Scan Called Workflow

on:
  workflow_call:
    inputs:
      urls_file:
        required: true
        type: string
      cache_key:
        required: true
        type: string

jobs:
  nuclei-scan:
    name: Scan
    runs-on: ubuntu-latest
    steps:
      # GitHub Checkout
      # https://github.com/marketplace/actions/checkout

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd

      # GitHub Cache
      # https://github.com/marketplace/actions/cache

      - name: Cache Nuclei templates
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
        with:
          path: ~/nuclei-templates
          key: ${{ inputs.cache_key }}
          restore-keys: |
            ${{ inputs.cache_key }}

      # Nuclei
      # https://github.com/marketplace/actions/nuclei-vulnerability-scan

      - name: Nuclei vulnerability scan
        id: nuclei_scan
        uses: projectdiscovery/nuclei-action@128f7284c2a836b485e292b9080dbc6175103758
        with:
          flags: -severity low,medium,high,critical
          urls: ${{ inputs.urls_file }}
          user-agent: "User-Agent:'Nuclei - Vulnerability Scan (osinfra.io)'"

      # GitHub Upload Artifact
      # https://github.com/actions/upload-artifact

      - name: GitHub workflow artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: nuclei-artifacts
          path: |
            nuclei.log
            nuclei.sarif

      # GitHub CodeQL upload SARIF
      # https://github.com/github/codeql-action

      - name: GitHub security dashboard alerts update
        uses: github/codeql-action/upload-sarif@64d10c13136e1c5bce3e5fbde8d4906eeaafc885
        if: success() && steps.nuclei_scan.outputs.sarif_exists == 'true'
        with:
          sarif_file: nuclei.sarif
          category: Nuclei
